.DetailProduct {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 5px;
    .divFotos{
        display: flex;
        img {
            background: linear-gradient(209deg, rgb(193, 193, 195) 31%, rgb(255, 250, 251) 63%);
        }
    }

    .divResto{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        margin-left: 10px;

        .nombre{
            font-family: "Aboreto", cursive;
            font-weight: bolder;
            font-size: 2em;
        }

        .descripcion{
            font-family: "Lato", sans-serif;
            font-weight: 400;
        }

        .precio-original{
            display: flex;
            flex-direction: row;
            font-family: "Lato", sans-serif;
            gap: 10px;
            font-size: 1.2em;
            p{
                font-family: "Montserrat", sans-serif;
                text-decoration: line-through;
            }
        }

        .precio-descontado{
            display: flex;
            flex-direction: row;
            font-family: "Lato", sans-serif;
            gap: 10px;
            font-size: 1.2em;
            p{
                font-family: "Montserrat", sans-serif;
            }
        }

        .cant {
            font-family: "Montserrat", sans-serif;
            font-size: 1.2em;
            color: black; 
            font-style: italic; 
            margin-top: 10px; 
            display: flex;
            flex-direction: row; // Asegurarse de que los elementos estén en la misma línea.
            align-items: center; // Centrar verticalmente los elementos en la línea.
            justify-content: center;
            align-self: center;

            p{
                font-size: 1.3em;
                font-weight: bold;
                color: rgb(85, 10, 33);
                margin-bottom: 0px;
                margin-left: 5px;
            }
        }
    }
}