.header1{
    margin: 0;
    background: rgb(85,10,33);
    background: radial-gradient(circle, rgba(85,10,33,1) 80%, rgba(45,14,14,1) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

    .div-titulo{
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        h1{
            color: #FFFAFB;
            font-family: "Aboreto", cursive;
            font-size: 30px;
            margin: 0;
            padding: 0;
            margin-left: 10px;
        }

        .logo{
            color: #FFFAFB;
            font-size: 30px;
        }
    }
    .navBar{
        display: flex ;
        flex-direction: row ;
        align-items: center ;
        gap: 150px !important;
        margin-right: 40px;
        nav{
            div{
                button{
                    background-color: #c1c1c3;
                }
                button:focus{
                    box-shadow: 0 0 10px black;
                }
            }
        }
    }
}

.bg-body-tertiary{
    background-color: transparent !important;
}

.navBarTitulo{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    div{
        color: rgb(85,10,33);
        font-family: "Aboreto", cursive;
        font-size: 20px;
        font-weight: bolder;
    }
}

.navBarCuerpo{
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            font-family: "Lato", sans-serif;
            margin-left: 10px;
            font-size: 15px;
            margin-bottom: 15px; 
            text-decoration: none;
        }
    }
}

.offcanva-fondo{
    background: rgb(193,193,195);
    background: linear-gradient(209deg, rgba(193,193,195,1) 31%, rgba(255,250,251,1) 63%);
}