.header1{
    margin: 0;
    background: rgb(85,10,33);
    background: radial-gradient(circle, rgba(85,10,33,1) 80%, rgba(45,14,14,1) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

    .div-titulo{
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        h1{
            color: #FFFAFB;
            font-family: "Aboreto", cursive;
            font-size: 30px;
            margin: 0;
            padding: 0;
            margin-left: 10px;
        }

        .logo{
            color: #FFFAFB;
            font-size: 30px;
        }
    }

    div{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5px;
        input{
            border-radius: 0.5 * 44px;
            outline: none;
            background-color: #c1c1c3;
            width: 500px;
            border: 1px solid black;
            color: rgb(26, 4, 10);
            font-family: "Aboreto", cursive;
            font-weight: bolder;
            padding: 1%;
        }
        input:focus{
            box-shadow: 0 0 10px black;
        }

        input::placeholder{ 
            border: 0px;
            color: rgb(26, 4, 10);
            font-family: "Aboreto", cursive;
            font-weight: bolder;
        }

        button{
            background-color: transparent;
            border: none;
            .lupa{
                color: black;
                font-size: 20px;
            }
        }
    }

    .navBar{
        display: flex ;
        flex-direction: row ;
        align-items: center ;
        gap: 150px !important;
        margin-right: 40px;
        nav{
            div{
                button{
                    background-color: #c1c1c3;
                }
                button:focus{
                    box-shadow: 0 0 10px black;
                }
            }
        }
    
        .div-carrito{
            display: flex;
            flex-direction: column;
            align-items: center;
            .carrito{
                border: 2px solid rgba(0,0,0,0.8);
                border-radius: 1em;          
                color: #FFFAFB;
                font-size: 20px;
                padding: 15%;
                background-color: #c1c1c3;
                
            }
    
            div{
                display: flex;
                align-items: start;
                flex-direction: row;
                p{
                    font-family: "Lato", sans-serif;
                    font-size: 15px;
                    color: #FFFAFB;
                    margin: 0;
                }
    
                button{
                    color: #FFFAFB;
                }
            }
        }
    }
}

.bg-body-tertiary{
    background-color: transparent !important;
}

.navBarTitulo{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    div{
        color: rgb(85,10,33);
        font-family: "Aboreto", cursive;
        font-size: 20px;
        font-weight: bolder;
    }
}

.navBarCuerpo{
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            font-family: "Lato", sans-serif;
            margin-left: 10px;
            font-size: 15px;
            margin-bottom: 15px; 
            text-decoration: none;
        }
    }
}

.offcanva-fondo{
    background: rgb(193,193,195);
    background: linear-gradient(209deg, rgba(193,193,195,1) 31%, rgba(255,250,251,1) 63%);
}