.container{
    .h1-categoria-titulo{
        font-family: "Lato", sans-serif;
        font-size: 1.3em;
        font-weight: bold;


        position: relative;
        left: -20%;
        display: flex;
        flex-direction: row;
        gap: 3px;
        margin-top: 1em;
        p{
            color:  rgb(85, 10, 33);
        }
    }
}

.no-productos-busqueda{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

    h2{
        font-family: "Aboreto", cursive;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }

    .logo-no-productos{
        font-size: 2em;
        text-align: center;
    }
}