.ItemCount {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
        
        button {
            border: 1px solid black;
            background: linear-gradient(209deg,  rgba(85,10,33,1) 80%, rgba(45,14,14,1) 100%);
            color: #FFFAFB;
            cursor: pointer;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-style: italic;
            padding: 5px 10px;
            margin: 0 10px;
            border-radius: 22px;

            &:disabled {
                background: #ccc;
                cursor: not-allowed;
            }
        }

        span {
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }
    }

    button {
        font-family: 'Aboreto', cursive;
        font-weight: bolder;
        font-size: 1em;
        padding: 2px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 22px;
        color: rgb(26, 4, 10);
        background-color: #c1c1c3;
    }

    h5{
        display: flex;
        flex-direction: row;
        font-family: "Lato", sans-serif;
        font-size: 1.3em;
        font-style: italic;
        align-items: center; // Centrar verticalmente los elementos en la línea.
        p{
            color: rgb(85, 10, 33);
            font-size: 1.3em;
            font-weight: bolder;
            font-family: "Lato", sans-serif;
        }
    }
}